@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


/* @import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */


@theme {
    --font-archivo: "Archivo";
    --color-primary: #401A6D;
    --color-secondary: #C4EAEA;
    --color-success: #52C054;
    --color-warning: #E8BF31;
    --color-danger: #E23232;
    --color-neutral: #959596;
}


@custom-variant dark (&:where(.dark, .dark *));

body {
    background-color: #ECE8F0;
    font-family: Archivo;
}

input,
textarea {
    caret-color: #401A6D;
}